.checkout-form {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;

    &.shown {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }

    form {
        width: 300px;
        display: grid;
        justify-items: flex-end;
    
        .StripeElement {
            margin-bottom: 8px;
            height: 31px;
            display: flex;
            align-items: center;
            border: 1px solid rgb(200, 200, 200);
            border-radius: 4px;
            padding: 0 16px;
            width: calc(100% - 34px);
    
            .__PrivateStripeElement {
                width: 100%;
            }
        }
    
        .buttons {
            width: 100%;
            display: flex;
            justify-content: flex-start;
    
            button {
                cursor: pointer;
                height: 33px;
                padding: 0 16px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                border: 0;
                background: rgb(187, 255, 187);
                margin-left: 8px;
                transition: 0.3s ease;
                outline: none;


                &.disabled {
                    cursor: default;
                    background: rgb(233, 233, 233);
                    color: gray;
                    pointer-events: none;
                }
            }
        }
    }
}